* { all: unset; }

window {
  background: #1e2326;
  color: #d3c6aa;
  font-size: 14pt;
  font-family: 'Input Mono';
}

window > * {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 2px;
}

.content > * {
  padding-left: 16px;
  padding-right: 16px;
}

.year, .merid {
  color: #7fbbb3;
}

.hot-corner {
  background-color: #7fbbb3;
  border-radius: 12px;
  transition: 0.3s;
}

.hot-corner:hover {
  border-radius: 8px;
}

.hot-corner:active {
  border-radius: 2px;
  transition: 0.3s;
}

